header {
  margin: 20px 0;
  font-size: 30px;
}

body {
  background-color: #e3e3e3;
  font-size: 12pt;
}

#content {
  min-width: 200px;
  max-width: 750px;
  margin: 0 auto;
  font-family: monospace;
  background-color: white;
  padding: 35px;
}

.list-link {
  display: block;
}

a:link {
  color: grey;
}

a:visited {
  color: #333333; 
}

a:hover {
  color: grey; 
}

img {
  display: block;
  width: 75%;
  margin: 20px auto;
}
