body {
  background-color: #e3e3e3;
}

#content {
  min-width: 200px;
  max-width: 750px;
  margin: 0 auto;
  font-family: monospace;
  background-color: white;
  padding: 35px;
}


header {
  margin: 20px 0;
  font-size: 20px;
}

.list-link {
  display: block;
}

a:link {
  color: black;
}

a:visited {
  color: #333333; 
}

a:hover {
  color: grey; 
}
